body,html {
	font-family: helvetica, arial, sans-serif;
	font-size: 90%;
	width: 100%;
	height: 100%;
	margin: 0;
}

UNKNOWN {
	SCROLLBAR-FACE-COLOR: #e1d8ce;
	SCROLLBAR-HIGHLIGHT-COLOR: #e1d8ce;
	SCROLLBAR-SHADOW-COLOR: #e1d8ce;
	SCROLLBAR-3DLIGHT-COLOR: #e1d8ce;
	SCROLLBAR-ARROW-COLOR: #d95d18;
	SCROLLBAR-TRACK-COLOR: #a4491d;
	SCROLLBAR-DARKSHADOW-COLOR: #e1d8ce
}

.BordeTabla {
	BORDER-RIGHT: #cccccc 1px solid;
	BORDER-TOP: #cccccc 1px solid;
	BORDER-LEFT: #cccccc 1px solid;
	BORDER-BOTTOM: #cccccc 1px solid
}

.BordeTabla2 {
	BORDER-RIGHT: #00204f 1px solid;
	BORDER-TOP: #00204f 1px solid;
	BORDER-LEFT: #00204f 1px solid;
	BORDER-BOTTOM: #00204f 1px solid
}

P {
	FONT-SIZE: 12px;
	COLOR: #63666A;
	FONT-FAMILY: MS Sans Serif, Arial, Helvetica
}

SPAN {
	FONT-SIZE: 12px;
	COLOR: #BA0C2F
	FONT-FAMILY: MS Sans Serif, Arial, Helvetica
}

A {
	FONT-SIZE: 12px;
	CURSOR: hand;
	FONT-FAMILY: Verdana, MS Sans Serif;
	TEXT-DECORATION: none
}

A:link {
	font-weight: bold;
	COLOR: #BA0C2F
}

A:visited {
	font-weight: bold;
	COLOR: #BA0C2F
}

A:active {
	COLOR: #BA0C2F
}

A:hover {
	COLOR: #A85A68;
}


A.normal {
	FONT-SIZE: 12px;
	CURSOR: hand;
	FONT-FAMILY: Arial, Helvetica;
	TEXT-DECORATION: none
}

A.normal:link {
	COLOR: #00204f
}

A.normal:visited {
	COLOR: #00204f
}

A.normal:active {
	COLOR: #00204f
}

A.normal:hover {
	CURSOR: hand;
	COLOR: #00204f;
	BACKGROUND-COLOR: #a4491d
}

.smallfnt {
	FONT: 12px Arial, Helvetica;
	COLOR: #00204f
}

TD.menu {
	FONT-SIZE: 12px;
	CURSOR: hand;
	FONT-FAMILY: Arial, Helvetica;
	TEXT-DECORATION: none
}

A.menu {
	FONT-SIZE: 12px;
	FONT-FAMILY: Arial, Helvetica;
	TEXT-DECORATION: none
}

A.menu:link {
	COLOR: #00204f
}

A.menu:visited {
	COLOR: #00204f
}

A.menu:active {
	COLOR: #00204f
}

A.menu:hover {
	COLOR: #a4491d;
	BACKGROUND-COLOR: #00204f
}

.fichamenu {
	PADDING-RIGHT: 15px;
	PADDING-LEFT: 15px;
	PADDING-BOTTOM: 15px;
	CURSOR: hand;
	PADDING-TOP: 15px;
	BACKGROUND-COLOR: #a9907e
}

.fichaCONT {
	COLOR: #00204f;
	BACKGROUND-COLOR: #a9907e
}

.fichaTIT {
	COLOR: #8c5129;
	BACKGROUND-COLOR: #d6c8bd
}

.silverc {
	BORDER-RIGHT: silver thin solid;
	BORDER-TOP: silver thin solid;
	FONT-SIZE: 10px;
	BACKGROUND: silver;
	BORDER-LEFT: silver thin solid;
	WIDTH: 180px;
	COLOR: black;
	BORDER-BOTTOM: silver thin solid;
	FONT-FAMILY: verdana;
	ONMOUSEOVER: blue;
	FONT-DECORATION: bold
}

.blue1000 {
	BORDER-RIGHT: #BA0C2F 1pt ridge;
	BORDER-TOP: #BA0C2F 1pt ridge;
	FONT-SIZE: 12px;
	BACKGROUND: #f6f6f6;
	BORDER-LEFT: #BA0C2F 1pt ridge;
	WIDTH: 1000px;
	COLOR: black;
	BORDER-BOTTOM: #BA0C2F 1pt inset;
	FONT-FAMILY: verdana;
	FONT-DECORATION: bold;
	BORDER-COLOR: navy
}

.blue800 {
	BORDER-RIGHT: #BA0C2F 1pt ridge;
	BORDER-TOP: #BA0C2F 1pt ridge;
	FONT-SIZE: 12px;
	BACKGROUND: #f6f6f6;
	BORDER-LEFT: #BA0C2F 1pt ridge;
	WIDTH: 800px;
	COLOR: black;
	BORDER-BOTTOM: #BA0C2F 1pt inset;
	FONT-FAMILY: verdana;
	FONT-DECORATION: bold;
	BORDER-COLOR: navy
}

.blue700 {
	BORDER-RIGHT: #63666A 1pt ridge;
	BORDER-TOP: #63666A 1pt ridge;
	FONT-SIZE: 12px;
	BACKGROUND: #FFFFFF;
	BORDER-LEFT: #63666A 1pt ridge;
	WIDTH: 700px;
	COLOR: black;
	BORDER-BOTTOM: #63666A 1pt inset;
	FONT-FAMILY: verdana;
	font-weight: normal;
	BORDER-COLOR: #63666A;
}

.blue700a {
	BORDER-RIGHT: #63666A 1pt ridge;
	BORDER-TOP: #63666A 1pt ridge;
	FONT-SIZE: 10px;
	BACKGROUND: #FFFFFF;
	BORDER-LEFT: #63666A 1pt ridge;
	WIDTH: 700px;
	COLOR: black;
	BORDER-BOTTOM: #63666A 1pt inset;
	FONT-FAMILY: verdana;
	font-weight: normal;
	BORDER-COLOR: #63666A;
}

/* .blue600a { */
	
/* BORDER-RIGHT: #BA0C2F 1pt ridge; */
/* 	BORDER-TOP: #BA0C2F 1pt ridge; */
/* 	FONT-SIZE: 12px; */
	
/* 	BORDER-LEFT: #BA0C2F 1pt ridge; */
/* 	WIDTH: 600px; */
/* 	COLOR: black; */
/* 	BORDER-BOTTOM: #BA0C2F 1pt inset; */
/* 	FONT-FAMILY: verdana; */
/* 	FONT-DECORATION: bold; */
	
	
/* } */

.blue600a {
font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	COLOR: #000000;
	font-weight: normal;
	WIDTH: 600px;
}



.blue500 {
	BORDER-RIGHT: #BA0C2F 1pt ridge;
	BORDER-TOP: #BA0C2F 1pt ridge;
	FONT-SIZE: 12px;
	BACKGROUND: #f6f6f6;
	BORDER-LEFT: #BA0C2F 1pt ridge;
	WIDTH: 500px;
	COLOR: black;
	BORDER-BOTTOM: #BA0C2F 1pt inset;
	FONT-FAMILY: verdana;
	FONT-DECORATION: bold;
	BORDER-COLOR: navy
}

.blue500a {
	FONT-SIZE: 10px;
	WIDTH: 500px;
	COLOR: black;
	FONT-FAMILY: Verdana;
	font-weight: normal;
}

.blue600a {
	FONT-SIZE: 10px;
	WIDTH: 600px;
	COLOR: black;
	FONT-FAMILY: Verdana;
	font-weight: normal;
}

.blue700a {
	FONT-SIZE: 10px;
	WIDTH: 700px;
	COLOR: black;
	FONT-FAMILY: Verdana;
	font-weight: normal;
}

.blue400 {
	BORDER-RIGHT: #BA0C2F 1pt ridge;
	BORDER-TOP: #BA0C2F 1pt ridge;
	FONT-SIZE: 12px;
	BACKGROUND: #f6f6f6;
	BORDER-LEFT: #BA0C2F 1pt ridge;
	WIDTH: 400px;
	COLOR: black;
	BORDER-BOTTOM: #BA0C2F 1pt inset;
	FONT-FAMILY: verdana;
	FONT-DECORATION: bold;
	BORDER-COLOR: navy
}

.blue400a {
	COLOR: black;
	FONT-FAMILY: verdana;
	FONT-DECORATION: bold;
	font-size: 10px;
	width: 400px;
}

.blue450a {
	BORDER-RIGHT: #BA0C2F 1pt ridge;
	BORDER-TOP: #BA0C2F 1pt ridge;
	FONT-SIZE: 10px;
	BACKGROUND: #f6f6f6;
	BORDER-LEFT: #BA0C2F 1pt ridge;
	WIDTH: 450px;
	COLOR: black;
	BORDER-BOTTOM: #BA0C2F 1pt inset;
	FONT-FAMILY: verdana;
	FONT-DECORATION: bold;
	BORDER-COLOR: navy
}

.blue300 {
	BORDER-RIGHT: #BA0C2F 1pt ridge;
	BORDER-TOP: #BA0C2F 1pt ridge;
	FONT-SIZE: 12px;
	BACKGROUND: #f6f6f6;
	BORDER-LEFT: #BA0C2F 1pt ridge;
	WIDTH: 300px;
	COLOR: black;
	BORDER-BOTTOM: #BA0C2F 1pt inset;
	FONT-FAMILY: verdana;
	FONT-DECORATION: bold;
	BORDER-COLOR: navy
}

.blue300a {
	BORDER-RIGHT: #BA0C2F 1pt ridge;
	BORDER-TOP: #BA0C2F 1pt ridge;
	FONT-SIZE: 10px;
	BACKGROUND: #f6f6f6;
	BORDER-LEFT: #BA0C2F 1pt ridge;
	WIDTH: 300px;
	COLOR: black;
	BORDER-BOTTOM: #BA0C2F 1pt inset;
	FONT-FAMILY: verdana;
	FONT-DECORATION: bold;
	BORDER-COLOR: navy
}

.blue350a {
	BORDER-RIGHT: #BA0C2F 1pt ridge;
	BORDER-TOP: #BA0C2F 1pt ridge;
	FONT-SIZE: 10px;
	BACKGROUND: #f6f6f6;
	BORDER-LEFT: #BA0C2F 1pt ridge;
	WIDTH: 350px;
	COLOR: black;
	BORDER-BOTTOM: #BA0C2F 1pt inset;
	FONT-FAMILY: verdana;
	FONT-DECORATION: bold;
	BORDER-COLOR: navy
}

.blue200 {
	FONT-SIZE: 10px;
	WIDTH: 200px;
	COLOR: black;
	FONT-FAMILY: Verdana;
	font-weight: normal;
	padding: 0px;
}

.blue200a {
	BORDER-RIGHT: #BA0C2F 1pt ridge;
	BORDER-TOP: #BA0C2F 1pt ridge;
	FONT-SIZE: 10px;
	BACKGROUND: #f6f6f6;
	BORDER-LEFT: #BA0C2F 1pt ridge;
	WIDTH: 200px;
	COLOR: black;
	BORDER-BOTTOM: #BA0C2F 1pt inset;
	FONT-FAMILY: verdana;
	FONT-DECORATION: bold;
	BORDER-COLOR: navy
}

.blue100 {
	BORDER-RIGHT: #BA0C2F 1pt ridge;
	BORDER-TOP: #BA0C2F 1pt ridge;
	FONT-SIZE: 12px;
	BACKGROUND: #f6f6f6;
	BORDER-LEFT: #BA0C2F 1pt ridge;
	WIDTH: 100px;
	COLOR: black;
	BORDER-BOTTOM: #BA0C2F 1pt inset;
	FONT-FAMILY: verdana;
	FONT-DECORATION: bold;
	BORDER-COLOR: navy
}

.blue100a {
	FONT-SIZE: 10px;
	WIDTH: 100px;
	COLOR: black;
	FONT-FAMILY: Verdana;
	font-weight: normal;
}

.blue150a {
	BORDER-RIGHT: #BA0C2F 1pt ridge;
	BORDER-TOP: #BA0C2F 1pt ridge;
	FONT-SIZE: 10px;
	BACKGROUND: #f6f6f6;
	BORDER-LEFT: #BA0C2F 1pt ridge;
	WIDTH: 150px;
	COLOR: black;
	BORDER-BOTTOM: #BA0C2F 1pt inset;
	FONT-FAMILY: verdana;
	FONT-DECORATION: bold;
	BORDER-COLOR: navy
}

.blue110a {
	BORDER-RIGHT: #BA0C2F 1pt ridge;
	BORDER-TOP: #BA0C2F 1pt ridge;
	FONT-SIZE: 10px;
	BACKGROUND: #f6f6f6;
	BORDER-LEFT: #BA0C2F 1pt ridge;
	WIDTH: 110px;
	COLOR: black;
	BORDER-BOTTOM: #BA0C2F 1pt inset;
	FONT-FAMILY: verdana;
	FONT-DECORATION: bold;
	BORDER-COLOR: navy
}

.blue100b {
	BORDER-RIGHT: #BA0C2F 1pt ridge;
	BORDER-TOP: #BA0C2F 1pt ridge;
	FONT-SIZE: 10px;
	BACKGROUND: #f6f6f6;
	BORDER-LEFT: #BA0C2F 1pt ridge;
	WIDTH: 100px;
	COLOR: black;
	BORDER-BOTTOM: #BA0C2F 1pt inset;
	FONT-FAMILY: verdana;
	FONT-DECORATION: bold;
	BORDER-COLOR: navy
}

.blue70 {
	BORDER-RIGHT: #BA0C2F 1pt ridge;
	BORDER-TOP: #BA0C2F 1pt ridge;
	FONT-SIZE: 12px;
	BACKGROUND: #f6f6f6;
	BORDER-LEFT: #BA0C2F 1pt ridge;
	WIDTH: 70px;
	COLOR: black;
	BORDER-BOTTOM: #BA0C2F 1pt inset;
	FONT-FAMILY: verdana;
	FONT-DECORATION: bold;
	BORDER-COLOR: navy
}

.blue50 {
	BORDER-RIGHT: #BA0C2F 1pt ridge;
	BORDER-TOP: #BA0C2F 1pt ridge;
	FONT-SIZE: 12px;
	BACKGROUND: #f6f6f6;
	BORDER-LEFT: #BA0C2F 1pt ridge;
	WIDTH: 50px;
	COLOR: black;
	BORDER-BOTTOM: #BA0C2F 1pt inset;
	FONT-FAMILY: verdana;
	FONT-DECORATION: bold;
	BORDER-COLOR: navy
}

.blue50a {
	WIDTH: 50px;	
}

.blue10 {
	BORDER-RIGHT: #BA0C2F 1pt ridge;
	BORDER-TOP: #BA0C2F 1pt ridge;
	FONT-SIZE: 12px;
	BACKGROUND: #f6f6f6;
	BORDER-LEFT: #BA0C2F 1pt ridge;
	WIDTH: 17px;
	COLOR: black;
	BORDER-BOTTOM: #BA0C2F 1pt inset;
	FONT-FAMILY: verdana;
	FONT-DECORATION: bold;
	BORDER-COLOR: navy
}

.blue5 {
	BORDER-RIGHT: #BA0C2F 1pt ridge;
	BORDER-TOP: #BA0C2F 1pt ridge;
	FONT-SIZE: 12px;
	BACKGROUND: #f6f6f6;
	BORDER-LEFT: #BA0C2F 1pt ridge;
	WIDTH: 10px;
	COLOR: black;
	BORDER-BOTTOM: #BA0C2F 1pt inset;
	FONT-FAMILY: verdana;
	FONT-DECORATION: bold;
	BORDER-COLOR: navy
}

.etiquetas {
	font-family: MS Sans Serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
}

.etiquetas_blanco {
	font-family: MS Sans Serif;
	font-size: 12px;
	font-weight: bold;
	color: #ffffff;
}

a.etiquetas_vista {
	font-family: MS Sans Serif;
	font-size: 10px;
	font-weight: bold;
	color: #BA0C2F
}

a.etiquetas_vista_prin {
	font-family: MS Sans Serif;
	font-size: 12px;
	font-weight: bold;
	color: #BA0C2F
}

a.etiquetas_vista_prin_off {
	font-family: MS Sans Serif;
	font-size: 12px;
	font-weight: bold;
	color: #63666A;
}

.etiquetas_aviso {
	font-family: MS Sans Serif;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
}

.etiquetas_normal {
	font-family: MS Sans Serif;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
}

.etiquetas_pequenias {
	font-family: MS Sans Serif;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
}

.etiquetas_chica {
	font-family: Verdana;
	font-size: 9px;
	font-weight: bold;
	color: #000000;
}

.etiquetas_chica:HOVER {
	color: #FFFFFF;
}

a.etiquetas_pequenias {
	font-family: MS Sans Serif;
	font-size: 9px;
	font-weight: normal;
	color: #000000;
}

.etiquetas_medio {
	font-family: MS Sans Serif;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
}

a.etiquetas_medio {
	font-family: MS Sans Serif;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
}

.etiquetas_jerarquia {
	font-family: MS Sans Serif;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
}

a.etiquetas_jerarquia {
	font-family: MS Sans Serif;
	font-size: 11px;
	font-weight: bold;
	color: #ffffff;
}

.etiquetasTit {
	font-family: MS Sans Serif;
	font-size: 12px;
	color: #ffffff;
	font-weight: bold;
}

.etiquetas_titulo_pagina {
	font-family: MS Sans Serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-decoration: underline;
}

a.etiquetas_titulo_pagina {
	font-family: MS Sans Serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}

.etiquetas_titulo {
	font-family: MS Sans Serif;
	font-size: 12px;
	color: #000000;
	font-weight: bold;
	text-decoration: underline;
}

a.etiquetas_titulo {
	font-family: MS Sans Serif;
	font-size: 12px;
	color: #000000;
	font-weight: bold;
	text-decoration: underline;
}

.etiquetas1 {
	font-family: MS Sans Serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
}

.etiquetasv {
	font-family: MS Sans Serif;
	font-size: 12px;
	color: #000000;
}

.etiquetas1v {
	font-family: MS Sans Serif;
	font-size: 14px;
	font-weight: bold;
	color: #000000;
}

a.titulo_paginacion {
	font-family: Verdana;
	font-size: 10px;
	text-decoration: none;
	color: #BA0C2F
	text-align: center;
	font-weight: bolder;
}

a.titulo_paginacion_pick {
	font-family: Verdana;
	font-size: 10px;
	text-decoration: none;
	color: #2A543A;
	text-align: center;
	font-weight: lighter;
}

.etiqueta_total_registros {
	font-family: MS Sans Serif;
	font-size: 10px;
	font-weight: bold;
	color: #BA0C2F
}

.marco {
	BORDER-RIGHT: #BA0C2F 1.2pt ridge;
	BORDER-TOP: #BA0C2F 1.2pt ridge;
	FONT-SIZE: 12px;
	BACKGROUND: #f6f6f6;
	BORDER-LEFT: #BA0C2F 1.2pt ridge;
	WIDTH: 55px;
	COLOR: blue;
	BORDER-BOTTOM: #BA0C2F 1.2pt inset;
	FONT-FAMILY: verdana;
	FONT-DECORATION: bold;
	BORDER-COLOR: red
}

DIV.documentBody {
	OVERFLOW: auto;
	WIDTH: 100%;
}

.dtree {
	FONT-SIZE: 11px;
	COLOR: #666;
	FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif;
	WHITE-SPACE: nowrap
}

.dtree IMG {
	BORDER-RIGHT: 0px;
	BORDER-TOP: 0px;
	VERTICAL-ALIGN: middle;
	BORDER-LEFT: 0px;
	BORDER-BOTTOM: 0px
}

.dtree A {
	COLOR: #333;
	TEXT-DECORATION: none
}

.dtree A.node {
	PADDING-RIGHT: 2px;
	PADDING-LEFT: 2px;
	PADDING-BOTTOM: 1px;
	PADDING-TOP: 1px;
	WHITE-SPACE: nowrap
}

.dtree A.nodeSel {
	PADDING-RIGHT: 2px;
	PADDING-LEFT: 2px;
	PADDING-BOTTOM: 1px;
	PADDING-TOP: 1px;
	WHITE-SPACE: nowrap
}

.dtree A.node:hover {
	COLOR: #333;
	TEXT-DECORATION: underline
}

.dtree A.nodeSel:hover {
	COLOR: #333;
	TEXT-DECORATION: underline
}

.dtree A.nodeSel {
	BACKGROUND-COLOR: #c0d2ec
}

.dtree .clip {
	OVERFLOW: hidden
}

.dominoTopTab {
	border-left: solid thin #e0e0e0;
	border-top: solid thin #e0e0e0;
	border-right: solid thin gray;
	text-align: center;
	color: #000000;
}

.dominoSelTopTab {
	border-left: solid thin #e0e0e0;
	border-top: solid thin #e0e0e0;
	border-right: solid thin black;
	font-weight: bold;
	text-align: center;
	color: white;
}

.dominoBottomTab {
	border-left: solid thin #e0e0e0;
	border-bottom: solid thin #e0e0e0;
	border-right: solid thin gray;
	text-align: center;
}

.dominoSelBottomTab {
	border-left: solid thin #e0e0e0;
	border-bottom: solid thin #e0e0e0;
	border-right: solid thin black;
	font-weight: bold;
	text-align: center;
}

.transparent {
	background-color: white;
	display: none;
	width: 15em;
	min-height: 3em;
	max-height: none;
	position: absolute;
	color: black;
	/*border: 1px #BA0C2F solid;*/
	font-family: Verdana;
	font-size: 6pt;
	font-weight: normal;
	filter:alpha(opacity=60);
	float:left;
	-moz-opacity:.60;
	opacity:.60
}

DIV.firmado {
	background-color: white;
	display: none;
	width: 250px;
	min-height: 3em;
	max-height: none;
	position: absolute;
	color: black;
	border: 1px blue solid;
	font-family: verdana;
	font-size: 7pt;
	font-weight: normal;
}

DIV.confidencial {
	background-color: white;
	display: none;
	width: 250px;
	min-height: 3em;
	max-height: none;
	position: absolute;
	color: black;
	border: 1px blue solid;
	font-family: Verdana;
	font-size: 7pt;
	font-weight: normal;
}

DIV.asuntoPopup {
	background-color: #004080;
	display: none;
	margin: 0 auto 0 auto;
	width: 420px;
	position: absolute;
	color: black;
	border: 1px #004080 solid;
	font-family: verdana;
	font-size: 5pt;
	font-weight: normal;
}

DIV.mainBody {
	OVERFLOW: auto;
	WIDTH: 100%;
	HEIGHT: 400px;
	OVERFLOW-X: hidden;
}

td.pestania_normal {
	border-left: solid 2px #A85A68;
	border-top: solid 2px #A85A68;
	border-right: solid 1px #960A24;
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	text-align: center;
	color: #BA0C2F
}

td.pestania_normal  a:link {
	color: #BA0C2F
	font-size: 12px;
	font-weight: normal;
}

a.pestania_normal{
	color: #BA0C2F
	font-size: 12px;
	font-weight: normal;
}

a:link.pestania_normal{
	color: #BA0C2F
	font-size: 12px;
	font-weight: normal;
}

td.pestania_principal {
	border-left: solid 2px #A85A68;
	border-top: solid 2px #A85A68;
	border-right: solid 1px #960A24;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	color: #FFFFFF;
	background-color: #BA0C2F
}

td.pestania_principal  a:link {
	color: white;
}

a.pestania_principal{
	color: white;
}

a:link.pestania_principal{
	color: white;
}

a.header{
	font-size: 12px;
	color: #63666A;
	text-decoration: none;
	font-family: MS Sans Serif,Arial,Helvetica;
}

a:hover.header{
	font-size: 12px;
	color: #63666A;
	text-decoration: none;
	font-family: MS Sans Serif,Arial,Helvetica;
}

a:visited.header{
	font-size: 12px;
	color: #63666A;
	text-decoration: none;
	font-family: MS Sans Serif,Arial,Helvetica;
}

td.header{
	border-left: 1px;
	border-left-style: solid;
	border-left-color: #63666A;
	
	border-top: 1px;
	border-top-style: solid;
	border-top-color: #63666A;
	
	border-right: 1px;
	border-right-style: solid;
	border-right-color: #63666A; 
	
	text-align: center;
	vertical-align: middle;
	font-size: 10px;
	font-weight: bold;
	
}

a.entrar{
	font-size: 12px;
	text-decoration: none;
	font-family: MS Sans Serif,Arial,Helvetica;
	border: 1px;
	border-style: solid;
	border-color: #63666A;
}

a:hover.entrar{
	font-size: 12px;
	text-decoration: none;
	font-family: MS Sans Serif,Arial,Helvetica;
}

a:visited.entrar{
	font-size: 12px;
	text-decoration: none;
	font-family: MS Sans Serif,Arial,Helvetica;
}

