.tituloEtiquetas {
	FONT-SIZE: 12px;
	COLOR: #004080;
	FONT-FAMILY: Arial, Helvetica;
	font-weight: bold;
}

.tituloSeccion {
	FONT-SIZE: 14px;
	COLOR: #004080;
	FONT-FAMILY: Arial, Helvetica;
	font-weight: bold;
}

.tituloCampos {
	FONT-SIZE: 10px;
	COLOR: #004080;
	FONT-FAMILY: Arial, Helvetica;
}

.tituloCampos12 {
	FONT-SIZE: 12px;
	COLOR: #004080;
	FONT-FAMILY: Arial, Helvetica;
}

table.lruta {
	background: #BA0C2F;
	color: #FFFFFF;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	vertical-align: middle;
	margin: 0px;
	font-family: Verdana;
	font-weight: normal;
	font-size: 10px;
	font-style: normal;
	border-left: 1px solid #FFFFFF;
	text-align: center;
}

table.lruta_first {
	background: #BA0C2F;
	color: #FFFFFF;
	font-size: 10px;
	font-weight: bold;
	vertical-align: middle;
	font-family: Verdana;
	font-size: 12px;
	font-style: normal;
	border-left: 0px;
	border-right: 0px;
	margin-left: 0px;
	margin-right: 0px;
	text-align: center;
}

th.lruta_red {
	color: #FFFFFF;
	background: #BA0C2F;
	text-align: center;
	font-size: 10px;
	font-weight: bold;
}

th.lruta_gray {
	color: #FFFFFF;
	background: #63666A;
	text-align: center;
	font-size: 10px;
	font-weight: bold;
}

table.lruta_in {
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
}

th.lruta_out {
	background: #FFFFFF;
	color: #BA0C2F;
	font-style: normal;
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica;
	border-width: 3px;
	border-style: double;
	border-color: #BA0C2F;
}

th.lruta {
	background: #FFFFFF;
	color: #BA0C2F;
	font-style: normal;
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica;
}

table.lruta tr.even {
	background-color: #ffffff;
	color: #63666A;
}

table.lruta tr.odd {
	background-color: #63666A;
	color: #FFFFFF;
}

table.lruta tr.odd_2 {
	background-color: #AAAAAA;
	color: #FFFFFF;
}

table.lruta_in tr.even {
	background-color: #ffffff;
	color: #63666A;
}

table.lruta_in tr.odd {
	background-color: #63666A;
	color: #FFFFFF;
}

table.lruta_in tr.odd_2 {
	background-color: #AAAAAA;
	color: #FFFFFF;
}

td.fontRuta {
	font-size: 10px;
	color: #ffffff;
	font-family: Verdana, Arial, Helvetica;
	font-weight: bold;
	text-align: center;
}

th.fontRuta {
	font-size: 10px;
	color: #ffffff;
	font-family: Verdana, Arial, Helvetica;
	font-weight: bold;
	text-align: center;
	background-color: #BA0C2F;
	border-right: 1px;
	border-right-color: #FFFFFF;
	border-right-style: solid;
	padding: 0px;
}

th.fontRutaSep {
	font-size: 10px;
	color: #ffffff;
	font-family: Verdana, Arial, Helvetica;
	font-weight: bold;
	text-align: center;
	background-color: #666666;
	border-right: 1px;
	border-right-color: #FFFFFF;
	border-right-style: solid;
	padding: 0px;
}



td.fontSubmenu{
	font-size: 10px;
	font: Verdana;
	color: #ffffff;
	text-align: center;
}
td.fontRutaSin {
	font-size: 10px;
	color: #ffffff;
	font-family: Verdana, Arial, Helvetica;
	font-weight: bold;
}



table.contenido{
	font-family: Verdana, Arial, Helvetica;
	font-size: 10px;
}

table.contenido tbody tr.even {
	font-weight: normal;
	color: #000000;
	background-color: #CCCCCC;
}

table.contenido tbody tr.odd {
	font-weight: normal;
	color: #000000;
	background-color: #FFFFFF;
}


tr.even {
	font-weight: normal;
	color: #000000;
	background-color: #CCCCCC;
}

tr.odd {
	font-weight: normal;
	color: #000000;
	background-color: #FFFFFF;
}

table.contenido th{
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	background-color: #BA0C2F;
}

td.fontContenido {
	font-family: Verdana, Arial, Helvetica;
	font-size: 10px;
	text-align: center;
}

td.fontContenido_left {
	font-family: Verdana, Arial, Helvetica;
	font-size: 10px;
	text-align: left;
}

td.listaPrincipal {
	font-family: Verdana, Arial, Helvetica;
	font-size: 10px;
	text-align: center;
}
span.listaPrincipal {
	font-family: Verdana, Arial, Helvetica;
	font-size: 10px;
}

a.fontContenido {
	font-family: Verdana, Arial, Helvetica;
	font-size: 10px;
	color: #000000;
	text-align: center;
}

td.fontContenidoSinColor {
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica;
	text-align: center;
}

a.fontContenidoSinColor {
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica;
	text-align: center;
}

td.fontContenido1 {
	font-size: 10px;
	color: #000000;
	font-family: Verdana, Arial, Helvetica;
}

a.fontContenido1 {
	font-size: 10px;
	color: #000000;
	font-family: Verdana, Arial, Helvetica;
}

.login_label,.login_input,.login_error {
	padding: 10px;
	color: #000;
	text-align: left;
	float: left;
	width: 200px;
	font-weight: bold;
	font-size: 14px;
	font-family: Verdana, Arial;
	color: #64355A;
}

.login_input {
	width: 200px;
}

.login_error {
	width: 250px;
	color: #F00;
}

.login_input input {
	width: 100%;
}

#login {
	background: #123;
}

table.boton_etiqueta{
  font-family: verdana;
  font-size: 10px;
  color: #000000;
  width: 40px;
  font-weight: bold;
  text-align: center;
}

table.boton_etiqueta:hover{
  color: #B5CD30;
}

div.loading_complete {
	height: 100%; 
	width: 100%; 
	position: absolute; 
	background-color: BLACK;
	z-index: 5;
	opacity: 0.25;
	filter:alpha(Opacity=25);
	-moz-opacity:0.25;
    -khtml-opacity: 0.25;
}

a.sinLink {
	cursor: default;
}


.alert-box {
	color:#555;
	
	font-family:Tahoma,Geneva,Arial,sans-serif;font-size:11px;
	padding:10px 36px;
	margin:10px;
	width: 45px;
	text-align: center;
}

.alert-box span {
	font-weight:bold;
	text-transform:uppercase;
	
}

.notice {
	background:#e3f7fc url('Imagenes/notice.png') no-repeat 10px 50%;
	border:1px solid #8ed9f6;
	
}

tr.lista_asunto{
	font-family:Arial;
	font-size:12px;
}

tr.lista_asunto:hover{
	background-color: #BA0C2F;
	cursor: pointer;
	color: #FFFFFF;
	font-family:Verdana;
	font-size: 12px;
	font-weight: bolder;
}

div.sinDatos{
	color: #BA0C2F;
	font-family:Verdana;
	font-size: 14px;
	font-weight: bolder;
}

div.sinDatos_small{
	color: #BA0C2F;
	font-family:Verdana;
	font-size: 10px;
	font-weight: bolder;
}

table.archivos{
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	vertical-align: middle;
	margin: 0px;
	font-family: Verdana;
	font-weight: normal;
	font-size: 10px;
	font-style: normal;
	border-left: 1px solid #FFFFFF;
	text-align: center;
	color: #63666A;	
}

th.archivos {
	color: #FFFFFF;
	background: #BA0C2F;
	text-align: center;
	font-size: 10px;
	font-weight: bold;
	border-bottom: 1px solid #FFFFFF;
}

tr.archivos_odd {
	background: #FFFFFF;
}

tr.archivos_even {
	background: #D2D5D7;
}


#rcorners2 {
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px; 
    width: 200px;
    height: 150px;    
}



table.graficaPen {
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	vertical-align: middle;
	margin: 0px;
	font-family: Helvetica;
	font-weight: normal;
	font-size: 12px;
	font-style: normal;
	color: #63666a;
}

table.graficaPen th{
	background-color: #BA0C2F;
	color: #FFFFFF;
	font-weight: bold;
	text-align: center;
	border:1px solid #BA0C2F;
}

table.graficaPen td{
	border:1px solid #BA0C2F;
}

table.graficaPen td.datos{
	text-align: center;
}

a.grafica {
    color: #000000;
    font-family: Helvetica;
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
}

a:link.grafica {
    color: #000000;
    font-family: Helvetica;
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
}

a:hover.grafica {
    color: #000000;
    font-family: Helvetica;
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
}

a:visited.grafica {
    color: #000000;
    font-family: Helvetica;
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
}